 /*Estilo externo*/
 
 @charset "UTF-8";

 body{
      background-color: #fff;
      font-family:Arial, Helvetica, sans-serif;
      
      
    }
    h1{
      color: #1713e7f5;
      background-color: #a4daebf5;
      
    }
    h2 {
      color: #0d0e0df5;
    }
    p{
      text-align: justify;
      
    }