/* Color Theme Swatches in Hex */
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-1-hex { color: #D97E96; }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-2-hex { color: #0F594C; }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-3-hex { color: #4D8C63; }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-4-hex { color: #B8D9C0; }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-5-hex { color: #EFDBDD; }

/* Color Theme Swatches in RGBA */
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-1-rgba { color: rgba(216, 126, 149, 1); }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-2-rgba { color: rgba(14, 89, 75, 1); }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-3-rgba { color: rgba(77, 140, 98, 1); }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-4-rgba { color: rgba(184, 216, 191, 1); }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-5-rgba { color: rgba(239, 219, 221, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-1-hsla { color: hsla(344, 54, 67, 1); }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-2-hsla { color: hsla(169, 71, 20, 1); }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-3-hsla { color: hsla(140, 29, 42, 1); }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-4-hsla { color: hsla(134, 30, 78, 1); }
.color-theme_Sample-Tropical-Foliage-Wallpaper-in-Green-and-Pink-from-the-Palm-Springs-Collection-by-Mind-the-Gap-5-hsla { color: hsla(354, 38, 89, 1); }
